@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: permanent marker, sans-serif;
    font-weight: 300;
}

/*headings & logo */


h1,
h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: whitesmoke;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
    text-align: center;
}

/*navigation links */
#navigation {
    font-size: 110%;
    letter-spacing: 4px;
    color: whitesmoke;

}

.top-bar {
    background-color: rgb(80, 201, 206);
    height: 100px;
    width: 100%;
}

#navigation,
#logo {
    line-height: 75px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid whitesmoke;
}

.active {
    border-bottom: 1px solid whitesmoke;
}


#hero-image {
    height: 600px;
    width: 100%;

    background: url(../images/hero-image2.jpg) center center no-repeat;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
}

#cover-text,
#cover-text h2 {
    color: white;

}

/* creates the level of zoom for the hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 5.5vw;
    font-family: permanent marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 175px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgb(114, 161, 229, .7);

    bottom: 400px;
    right: 300px;
    top: 50px;

    position: absolute;

}

/*core information section */

#core-information {
    height: 600px;
    background-color: rgb(152, 131, 229);
    padding-top: 150px;
    color: whitesmoke;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: left;
}

.right-about-heading p {
    text-align: left;
}



#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(80, 201, 206);
}

#circle-cover-bg {
    background: url(../images/nags-with-notions-logo2.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    background-color: #f2c5c8;
}

footer {
    height: 150px;
    background-color: rgb(46, 56, 46);
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

/*Gallery CSS*/
#menu-text {
    text-align: center;
    height: 600px;
    width: 60%;
    background-color: rgb(114, 161, 229, .7);
    max-width: auto;
    margin-left: 200px;
    color: whitesmoke;
}

#menu-text h1 {
    padding-bottom: 7px;
    font-size: xx-large;

}


#menu-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background: url(../Images/pizza\ 1500px.png) center center no-repeat; */
    background-size: 750px;

}

#extras {

    text-align: center;
    float: left;
    margin-left: 150px;
    background-color: rgb(152, 131, 229);

}

#extras li {
    list-style-type: none;
}

#crust-dips {

    text-align: center;
    float: right;
    margin-right: 100px;
    background-color: rgb(252, 211, 222);
}

#crust-dips li {
    list-style-type: none;
}

#partners {
    /* text-align: center;
    width: 100%; */

}

#video-section {
    background-color: rgb(252, 211, 222);
    height: 500px;
    width: 100%;
    padding-top: 150px;
}

#video iframe {
    display: block;
    margin: 0 auto;
    border: none;
    padding-bottom: 100px;
}

/*Feedback form */
#feedback-outer h1 {
    /* height: 300px; */
    width: 100%;
    line-height: 1.7em;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(114, 161, 229);
    padding-bottom: 50px;
    margin-top: 0;

}

#feedback-outer p {
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    line-height: 1.7em;
    padding-top: 100px;
    text-align: center;
}


#feedback-form {
    text-align: center;
    /* margin-bottom: 500px; */
    background: url(../images/pub2.jpg) center center no-repeat;
    height: 600px;
    width: 100%;

}

#feedback-text {
    margin-top: 100px;
    background-color: rgb(152, 131, 229);

}

/* Media queries */

@media screen and (max-width: 1200px) {
    #core-information {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }



    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #navigation {
        clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
        margin-left: 30px;
        font-size: small;
    }

    #cover-text {
        left: 0;
        right: clear;
        width: 100%;
        height: 200px;
        text-align: center;
        padding-left: 2px;
    }

    #core-information {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #menu-outer {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    #menu-text {
        margin: 0 auto;
        height: 1200px;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;

    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;

    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;

    }

    .top-bar {
        height: 200px;
    }

    #video iframe {
        width: 100%;
    }

    #extras,
    #crust-dips {
        display: none;
    }


}