@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Permanent+Marker&display=swap');


/* border box as per Coding Nepal & creating responsive navigation this includes padding & border in width & height */
* {
    margin: 0;
    padding: 0;
    /* border: none; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: permanent marker, sans-serif;
    font-weight: 300;
}

/*headings & logo & navigation */

/* background color for header - width 100% so can be responsive at other sizes */

header {
    width: 100%;
}

nav {
    background: rgb(80, 201, 206);
    height: 80px;
    width: 100%;
}

/* styling and coloring of label logo */
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

/* moves navigation buttons to right */
nav ul {
    float: right;
    margin: right;
}

/* 
inline elements only cover the space inside the html elements */

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* styling of navigation font: rounding of elements border edge */

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

/* background color of navigation buttons when hovered over */
a.active,
nav a:hover {
    background: #1b9bff;
    transition: .5s;
}

/* styling check button & move to right of header */

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



/* hero-image styling section */

#hero-image {
    height: 600px;
    width: inherit;
    position: relative;
    background: url(../images/hero-image2.jpg) center center no-repeat;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    top: 5%;


}

#hero-outer {
    height: 600px;
    width: 100%;
    position: absolute;
    margin-bottom: 0;


}

#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;

}

/* creates the level of zoom for the hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: permanent marker, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 500px;
    height: 175px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgb(114, 161, 229, .7);

    bottom: 400px;
    right: 400px;
    top: 50px;


    position: absolute;

}

/*core information section */

#core-information {
    height: 120vh;
    background-color: rgb(152, 131, 229);
    padding-top: 50px;
    color: whitesmoke;
    position: absolute;
    top: 91vh;
    width: 100%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}


.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
    padding-right: 25px;
}

.right-about-heading p {
    text-align: right;
}



#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(80, 201, 206);
}

#circle-cover-bg {
    background: url(../images/nags-with-notions-logo2.png) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    background-color: #f2c5c8;
}

footer {
    background-color: rgb(46, 56, 46);
    height: 200px;
    position: relative;
    top: 200vh;

}



#menu-footer {
    border-top: solid;
    border-width: 30px;
    border-color: rgb(114, 161, 229);
}

.social-networks {
    text-align: center;
    position: inital;




}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;

}

/* styling for menu section */

#image-left-side1 img {
    position: absolute;
    width: 20%;
    height: 280px;

}

#image-left-side1 .outdoor-eating {
    width: 20%;
    float: left;
    position: absolute;
    top: 300px;
    height: 300px;
}

#image-right-side {
    width: 20%;
    float: right;
    top: 300px;

}

#image-right-side .pizza1 {
    width: 20%;
    float: right;
    position: absolute;
    height: 280px;
}

.retangle-divider {
    background-color: rgb(114, 161, 229);
    width: 100%;
    height: 25px;
    position: absolute;
    margin-top: 275px;
}

#image-right-side .sign {
    position: absolute;
    top: 300px;
    width: 20%;
    height: 300px;
}



#menu-text {
    text-align: center;
    height: 600px;
    width: 60%;
    background-color: rgb(114, 161, 229);
    margin: 0 auto;
    color: whitesmoke;

}

#menu-text h1 {
    padding-bottom: 7px;
    font-size: xx-large;

}


#menu-outer {
    position: relative;
    background-size: 750px;
    display: none;

}


#video-section {
    background-color: rgb(252, 211, 222);
    height: 500px;
    width: 100%;
    padding-top: 150px;
    position: relative;
    top: 200vh;
}

#video iframe {
    display: block;
    margin: 0 auto;
    border: none;
    padding-bottom: 100px;
}

/*Feedback form */
#feedback-outer h1 {
    /* height: 300px; */
    width: 100%;
    line-height: 1.7em;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(114, 161, 229);
    padding-bottom: 50px;
    margin-top: 0;

}

#feedback-outer p {
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    line-height: 1.7em;
    padding-top: 100px;
    text-align: center;
}


#feedback-form {
    text-align: center;
    background: url(../images/pub2.jpg) center center no-repeat;
    height: 600px;
    width: 100%;
    background-size: cover;
    padding-bottom: 900px;

}



/* Media queries */

/* For screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    /* cover text adjustment */

    header {
        width: 100%;
    }

    #logo {
        width: 60%;
        font-size: 200%;
    }

    #cover-text {
        right: 300px;
    }



    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-heading p {
        width: 200px;
    }

    .left-about-heading h2 {
        padding-left: 25px;
    }



    #core-information {
        height: 1200px;
        margin: 0 auto;
    }

    #core-information hr {
        display: none;
    }


    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }




}






@media screen and (max-width: 952px) {

    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }



    /* cover text adjustment */

    #cover-text {
        right: 200px;
    }

    #logo {
        width: 60%;
        font-size: 200%;
    }

}

/* Create Responsive Navigation bar template taken from CodingNepal on youtuble */
/* responsive navigation bar from 768px down */
@media screen and (max-width: 768px) {

    header {
        z-index: 1;
        position: relative;
    }

    .checkbtn {
        display: block;
    }

    /* background for dropdown menu */
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    #cover-text {
        right: 100px;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #hero-image {
        background: url(../images/girl-on-counter.jpg) center center no-repeat;
        background-size: cover;
    }

}



@media screen and (max-width: 710px) {

    #logo {
        width: 60%;
        font-size: 150%;
    }
}




@media screen and (max-width: 680px) {

    /* Responsive Nav from Kevin Powell Youbtube */




    #cover-text {
        width: 60%;
        font-size: 80%;
        left: 0;
    }

    #core-information {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

}



@media screen and (max-width: 320px) {
    #hero-image {
        width: 100vh;
    }



    #core-information,
    #video-section,
    footer {
        width: 85vh;
    }


    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        width: 80vh;
    }

    #video iframe {
        width: 400px;
    }

    #cover-text {
        left: 45vh;
        top: .5vh;
    }

    .social-networks {
        padding-top: 6vh;
    }
}