@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



/* border box as per Coding Nepal & creating responsive navigation this includes padding & border in width & height */
* {
    margin: 0;
    padding: 0;
    /* border: none; */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: Open-Sans, sans-serif;
    font-weight: 300;
}


/*headings & logo & navigation */

.nav-container {
    display: block;
    width: 100%;
}

nav {
    background: rgba(88, 92, 96);
    ;
    height: 80px;
    width: 100%;
}

/* styling and coloring of label logo */
a.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
}

/* moves navigation buttons to right */
nav ul {
    float: right;
}

/* 
inline elements only cover the space inside the html elements */

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

/* styling of navigation font: rounding of elements border edge */

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

/* background color of navigation buttons when hovered over */
a.active,
nav a:hover {
    background: #1b9bff;
    transition: .5s;
}

/* styling check button & move to right of header */

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



/* hero-image styling section */

#hero-image {
    height: 600px;
    background: url(../images/hero-image-2000px-compressed.jpg) center center no-repeat;
    background-size: cover;


}

#hero-outer {
    position: relative;
}

.button {
    background-color: #0082e6;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 4%;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.button-div {
    margin: 50px 0 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#cover-text,
#cover-text h2 {
    color: white;
    text-align: center;

}

/* creates the level of zoom for the hero-image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Overlay template from Daniel Zuzevich  */
#cover-text {
    position: absolute;
    top: 50px;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xxx-large;
    flex-flow: wrap;

}

/* About section */
/* How to use flexbox columns taken from youtubes SyntaxByte: CSS Flexbox Columns
& Codehal How to align Image text side by side in html & css */





.pseudo-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(88, 92, 96);
}

.wrapper img {
    max-width: 320px;
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-right: 15px;

}

.wrapper {
    margin: 150px auto;
    width: 70%;
    color: white;
}


.wrapper h2 {
    font-size: 42px;
}

.wrapper p {
    font-size: 16px;
}

/*staff profiles styling section */

.outer-cover {
    background: #3333;
    align-items: center;
    justify-content: center;
    display: flex;
}

.cover {
    width: min-content;
    height: min-content;
    /* background: #000; */
    margin-top: 50px;
    display: flex;
}

img {
    object-fit: cover;
}

.cover img {
    width: 300px;
    height: 60%;
    display: flex;
    margin-bottom: 14px;
}

.box {
    width: 300px;
    height: 500px;
    margin: 10px;
    box-shadow: -1px 0 10px #0000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    border-radius: 50%;
    border: solid;
    border-color: rgba(88, 92, 96);
    ;
}


/* reviews section */
/* template from fellow student Roisin O'Connell on slack  */

.reviews-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 1500px;
}

#reviews h2 {
    text-align: center;
    padding: 30px 0 30px 0;
    letter-spacing: 4px;
}

.reviews-wrapper .quotation {
    line-height: 1.8;
    margin-bottom: 1rem;
}

.quotation {
    quotes: "“""”";
}

/* style large, grey quote marks before blockquote text */
.quotation::before {
    content: open-quote;
    font-family: serif;
    font-size: 3em;
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    left: -2px;
    bottom: -12px;
    color: #ccc;
}

.cite-div {
    line-height: 4rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* style large, grey quote marks after blockquote text */
.quotation::after {
    content: close-quote;
    font-family: serif;
    font-size: 3em;
    display: inline;
    height: 0;
    line-height: 0;
    position: relative;
    left: 4px;
    bottom: -14px;
    color: #ccc;
}

/* footer section */
/* Template from Cem Eygi Media YouTube Responsive Footer with CSS Flexbox */


footer {
    background-color: black;
    color: white;
    /* creates column */
    display: flex;
    /* keeps copyright at bottom of column */
    flex-direction: column;
}

.fa-brands {
    color: white;
}

footer .container {
    display: flex;
    gap: 20px;
    padding: 50px 20px;
    min-width: -webkit-fill-available;
    margin: 0 auto;
}

.times {
    /* divide columns equally */
    flex-grow: 1;
    flex-basis: 100%;
}

.social-media {
    flex-grow: 1;
    flex-basis: 100%;
}

.contact {
    flex-grow: 1;
    flex-basis: 100%;
}

.container h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.social-media ul {
    line-height: 1.6;
}

.contact ul {
    line-height: 1.6;
}

.times {
    line-height: 1.6;
}

.copyright {
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid gray;
}



/* styling for menu section */

.menus-area {
    background-image: url(../images/menu-1500px-compressed-220kb.jpg);
    background-size: 100%;
    background-position: center;
    position: relative;
    padding: 100px 0;
    color: #fff;
}

.menus-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: -1;
    opacity: .55;
    left: 0;
    top: 0;

}

.section-title {
    text-align: center;
}

.section-title h4 {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 100px;
}

.menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.menu-items {
    flex-basis: 32%;
}

.single-menu {
    background-color: #333;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    position: relative;
    transition: .3s;
    margin-bottom: 30px;
    height: 650px;
}

.single-menu img:hover {
    border-radius: 50%;
    cursor: pointer;
}

.single-menu img .gormet-chips {
    height: 430px;
}

.single-menu span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #0082e6;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px 0 0 0;
}

.single-menu:hover {
    border-color: #ff7720;
    border-radius: 7px;
}

.single-menu img {
    border: 1px solid #ddd;
    max-width: 300px;
    padding: 3px;
    transition: .3s
}

.single-menu h4 {
    border-bottom: 1px dashed #ddd;
    margin: 10px 0;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 24px;
}

.single-menu a {
    display: inline-block;
    color: #0082e6;
    text-transform: uppercase;
    margin-top: 25px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    background-color: #0082e6;
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 21px;
}



/* video section  */

#video-section {

    padding-top: 150px;

}

#video-section h2 {
    text-align: center;
    margin-bottom: 50px;
}

#video iframe {
    display: block;
    margin: 0 auto;
    border: none;
    padding-bottom: 100px;
}



/* Template from Rosin O'Connell Code Institute & image from Pexels.com */
/*Booking form */

.booking-form-section {
    /* element is pushed below left floated elements */
    clear: left;
    background: url(../images/compressed/booking-img-2000px-compressed.jpg);
    background-color: rgba(88, 92, 96, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 1px;
}

.booking-form {
    margin: 150px 10% 0 0;
    color: #f7f9fb;
    background-color: rgba(60, 60, 60, 0.8);
    max-width: 500px;
    position: absolute;
    padding: 30px;
    left: 10%;
}

.booking-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.text-input {
    border-color: #0082e6;
}

#message {
    height: 75px;
    width: 100%;
}

.submit-enquiry-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #e88700;
    color: #fafafa;
    display: block;
    cursor: pointer;
}

.submit-enquiry-button:hover {
    background-color: #fafafa;
    color: #e88700;
    cursor: pointer;
}

.form-section input[type="submit"] {
    cursor: pointer;
}

#thank-you {
    max-width: 800px;
}





/* Media queries */

/* For screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    /* cover text adjustment */


    #logo {
        width: 60%;
        font-size: 200%;
    }



    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-about-heading p {
        width: 200px;
        text-align: center;
    }

    .left-about-heading h2 {
        padding-left: 50px;
    }



    #core-information {
        height: 1200px;
        margin: 0 auto;
    }

    #core-information hr {
        display: none;
    }


    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }




}






@media screen and (max-width: 974px) {

    .menus {
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .outer-cover .cover {
        display: block;
    }

    a.logo {
        padding-left: 50px;
        font-size: 25px;
    }

    nav ul li a {
        font-size: 16px;
    }



    /* cover text adjustment */



    #logo {
        width: 60%;
        font-size: 200%;
    }

}

/* Create Responsive Navigation bar template taken from CodingNepal on youtuble */
/* responsive navigation bar from 770px down */
@media screen and (max-width: 770px) {

    #hero-image {
        background: url(../images/compressed/768px-hero-img-compressed.jpg) center center no-repeat;
        background-size: cover;
    }

    .menus-area {
        background-image: url(../images/compressed/menu-background-768px-compressed.jpg);
    }

    .booking-form-section {
        /* element is pushed below left floated elements */
        background: url(../images/compressed/booking-img-768px-compressed.jpg) center center no-repeat;
        background-size: cover;

    }

    .menu-items {
        display: flex;
        flex-direction: column;

    }

    .wrapper {
        margin: 75px auto;
    }

    header {
        z-index: 1;
        position: relative;
    }

    .checkbtn {
        display: block;
    }

    /* background for dropdown menu */
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

    #cover-text {
        right: 100px;
        font-size: xx-large;
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    .container {
        flex-direction: column;
        min-width: auto;
        max-width: 40%;
    }


}



@media screen and (max-width: 725px) {

    #logo {
        width: 60%;
        font-size: 150%;
    }


}




@media screen and (max-width: 680px) {






    #cover-text {
        width: 50%;
    }

    #core-information {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

}

@media screen and (max-width: 526px) {

    label.logo {
        font-size: 20px;
        display: block;
    }



}

@media screen and (max-width: 495px) {

    a.logo {
        font-size: 20px;
        display: block;
    }

    #cover-text {
        font-size: 19px;
    }



}

/* Styling for feedback page */

.text-input {
    width: 100%;
    padding: 12px;
    border: 1px solid blue;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


@media screen and (max-width: 384px) {

    .menus-area {
        background-image: url(../images/compressed/menu-375px-compressed.jpg);
    }

    #hero-image {
        background: url(../images/compressed/hero-image-375px-compressed.jpg) center center no-repeat;
    }



    a.logo {
        font-size: 100%;
        display: block;
    }

    #video iframe {
        width: 75%;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        width: 80vh;
    }

    .left-about-heading {
        text-align: center;
    }

    #cover-text {

        font-size: 20px;
        width: 65%;
        left: 18%;
    }

    .wrapper img {
        width: 100%;
        margin-bottom: 20px;
    }

    .box {
        margin: 30px;
    }

    .outer-cover .cover {
        line-height: 25px;
    }



}

@media screen and (max-width: 310px) {

    a.logo {
        font-size: 70%;
        display: block;
    }
}